Brotli==1.0.9
certifi==2021.5.30
chardet==4.0.0
click==8.0.4
colorama==0.4.5
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-leaflet==0.1.23
dash-renderer==1.9.1
dash-table==4.11.3
dataclasses==0.8
Flask==1.1.2
Flask-Compress==1.13
future==0.18.3
geobuf==1.1.1
idna==2.10
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.19.5
opencv-python==4.5.1.48
packaging==21.3
Pillow==8.2.0
plotly==5.14.1
protobuf==3.19.6
pyparsing==3.0.9
PyYAML==5.4.1
requests==2.25.1
six==1.16.0
tenacity==8.2.2
torch==1.8.1
torchvision==0.9.1
tqdm==4.60.0
typing_extensions==4.1.1
urllib3==1.26.15
Werkzeug==2.0.3
wincertstore==0.2
zipp==3.6.0
